auth_keys:
  - key1
  - key2
mail:
  from_address: email@site.tld
  mail_server: mail.server.net
  username: username@site.tld
  password: AAAAAAAAAAAAAAAAAA
  port: 465
  tls: false
base_url: https://aaaaaaaa.succ.com